log/*
tmp/*
.DS_Store
*.tmproj
Thumbs.db
nbproject/
.project
tmtags
*.swp
.settings/
.gitkeep
.idea/*
config/database.yml
public/uploads/*
.sass-cache
config/deploy.rb
Capfile
Gemfile.lock
.idea/workspace.xml
db/schema.rb

.idea/workspace.xml
db/wine_variety_i18n.csv
.rakeTasks
.idea/.rakeTasks
schema.rb
notify.log
lib/wines_photos
/Gemfile.lock
/db/schema.rb
/notify.log
public/assets
/lib/region_tree.csv
lib/tasks/data
test.log