/* CSS Document */

/* 公共样式 */
body,ul,dl,dt,dd{ background:#fff; border:none; color:#444; padding:0px; margin:0px; font:12px Arial,'宋体';}
li{list-style-type:none;}

a:link {color: #222; text-decoration:none;}
a:visited {color: #222;text-decoration:none;}
a:hover {color: #f79622; text-decoration:none;}
/*a:active {color:#f79622; text-decoration:none;}*/

img,li{ vertical-align:top;}

/* 首页*/
.top{ height:140px; background:url(../images/top_line.gif) repeat-x bottom; }
.top_con{ width:950px; padding-top:10px; padding-left:10px; margin:0px auto; overflow:hidden;}
.logo{ float:left;}
.menu{ float:right; width:665px; margin-top:55px; }
ul.m1{ display:block; overflow:hidden;}
ul.m1 li{ display:block; float:left; width:133px; height:43px; background:url(../images/menu_line.gif) no-repeat right;}
.menu a{ display:block; height:36px; padding-top:7px; font-size:15px; font-weight:bold;  text-align:center; color:#8b603d;}
.menu a:hover{ color:#f79622; background:url(../images/menu_hover.gif) no-repeat center bottom;}
.menu a.current{color:#f79622; background:url(../images/menu_hover.gif) no-repeat center bottom;}

.banner_bg{ background:url(../images/banner_bg.gif); height:320px; margin-bottom:27px;}
.banner{ width:960px; margin:0px auto; overflow:hidden;}
ul.banner_left{ float:left; width:660px; height:320px; background:#fff; overflow:hidden;}
ul.banner_left li{ display:block; float:left; font-size:0px; }
ul.banner_left li a#top_bl{ display:block; width:155px; height:155px; margin-right:10px; padding-bottom:10px;}
ul.banner_left li a#bottom_bl{ display:block; width:155px; height:155px; margin-right:10px;}
ul.banner_left li a.bl_1{ background:url(../images/banner1.jpg) no-repeat;}
ul.banner_left li a:hover.bl_1{ background:url(../images/banner_hover.jpg) no-repeat;}
ul.banner_left li a.bl_2{ background:url(../images/banner2.jpg) no-repeat;}
ul.banner_left li a:hover.bl_2{ background:url(../images/banner2_hover.jpg) no-repeat;}
ul.banner_left li a.bl_3{ background:url(../images/banner3.jpg) no-repeat;}
ul.banner_left li a:hover.bl_3{ background:url(../images/banner3_hover.jpg) no-repeat;}
ul.banner_left li a.bl_4{ background:url(../images/banner4.jpg) no-repeat;}
ul.banner_left li a:hover.bl_4{ background:url(../images/banner4_hover.jpg) no-repeat;}
ul.banner_left li a.bl_5{ background:url(../images/banner5.jpg) no-repeat;}
ul.banner_left li a:hover.bl_5{ background:url(../images/banner5_hover.jpg) no-repeat;}
ul.banner_left li a.bl_6{ background:url(../images/banner6.jpg) no-repeat;}
ul.banner_left li a:hover.bl_6{ background:url(../images/banner6_hover.jpg) no-repeat;}
ul.banner_left li a.bl_7{ background:url(../images/banner7.jpg) no-repeat;}
ul.banner_left li a:hover.bl_7{ background:url(../images/banner7_hover.jpg) no-repeat;}
ul.banner_left li a.bl_8{ background:url(../images/banner8.jpg) no-repeat;}
ul.banner_left li a:hover.bl_8{ background:url(../images/banner8_hover.jpg) no-repeat;}
.banner_right{ float:right;}

.content{ width:960px; margin:0px auto; overflow:hidden;}
.con_top{ margin-bottom:15px;  overflow:hidden;}
.ct_left{ float:left; margin-right:20px; width:640px; height:180px;  border-bottom:1px dashed #ddd;}
.ct_line{ float:left; margin-right:36px; height:155px; border-right:1px dashed #ddd; margin-bottom:40px;}
.cl_title{ height:23px; margin:20px 0px; font-size:0px; text-indent:-10000px; background:url(../images/home_pic1.gif) no-repeat; }
.cl_text{ font-size:14px; line-height:28px; padding-right:15px;}
.ct_right{ float:left; width:260px;height:180px;  border-bottom:1px dashed #ddd;}
.cr_btn{ padding-top:12px; padding-bottom:17px; overflow:hidden;}
.cr_bottom span{ display:block; float:left; width:118px; padding-right:12px;}

.con_bottom{ margin-bottom:15px; overflow:hidden;}
.cb_left{ float:left; margin-right:20px; width:640px; margin-top:5px;}
.cb_line{ float:left; margin-right:36px; height:225px; border-right:1px dashed #ddd; }
.clb_title{ height:23px; margin-bottom:20px; font-size:0px; text-indent:-10000px; background:url(../images/home_pic7.gif) no-repeat; }
dl.clb_con{ display:block; overflow:hidden;}
dl.clb_con dt{ display:block; float:left; width:260px; margin-right:20px; }
dl.clb_con dd{ display:block; float:left; width:340px; line-height:24px; }
dd.cc_1{ font-size:14px; font-weight:bold;margin-bottom:5px;}
dl.clb_con dd a{ color:#f79622;}
.cb_right{ float:left; width:260px; margin-top:20px;  }
.cbr_title{ height:27px; background:#f79623; font-size:14px; color:#fff; font-weight:bold; line-height:27px; padding-left:15px;}

ul.cbr_bottom{ display:block; } 
ul.cbr_bottom li{ display:block; height:60px; padding-left:5px; padding-top:20px; border-bottom:1px solid #ddd;}
ul.cbr_bottom li span{ display:block; line-height:26px;}

.footer{ width:936px; margin:0px auto; margin-bottom:40px; border-top:1px solid #ddd; padding:12px; overflow:hidden; }
.footer_left{ float:left; }
.footer_right{ float:right;}

/* 起源*/
.prompt{ overflow:hidden;  }
.pro_con{float:right;margin-bottom:15px; margin-right:20px;}
.prompt span{ color:#8b603d;}
.subpage_con{ background: url(../images/origin_pic6.gif) repeat-y; margin-bottom:25px;}
.subc_top{ height:9px; background:url(../images/origin.gif) no-repeat; margin-bottom:14px;}
.subc_bottom{ height:6px; background:url(../images/origin_pic5.gif) no-repeat;}
.sc_title{ background:url(../images/origin_pic2.gif) no-repeat; height:50px; font-size:0px; text-align:-10000px; margin-bottom:25px;}
.scc_top{ padding:0px 40px; margin-bottom:35px; overflow:hidden;}
.sct_img{ float:left; width:300px; height:215px; padding:4px; border:1px solid #ddd; margin-right:35px;}
.sct_text{ float:left; width:530px;}
.sct_text span{ display:block; line-height:28px;}
span.st_1{ margin-bottom:20px; margin-top:15px;}
span.st_2{ font-size:14px; font-weight:bold; color:#8b603d;}
.sct_text2{ float:left; width:530px;margin-right:35px; }
.sct_text2 span{ display:block; line-height:28px;}
.sct_img2{float:left; width:300px; height:215px; padding:4px; border:1px solid #ddd; margin-top:30px; }
span.st_3{ margin-bottom:12px;}
span.st_4{font-size:14px; font-weight:bold; color:#8b603d; margin-bottom:12px;}

/*活动*/
.sc_title2{ background:url(../images/act_pic1.gif) no-repeat; height:50px; font-size:0px; text-align:-10000px; margin-bottom:25px;}
.act_title{ margin:0px 30px 25px 35px; height:40px; background:url(../images/act_pic2.gif); overflow:hidden;}
.at_left{ float:left; line-height:40px; font-size:14px; font-weight:bold; color:#8b603d; padding-left:20px;}
.at_right{ float:right; padding-top:15px; margin-right:20px;}
.act_img{ float:left; width:310px; height:220px; padding:4px; border:1px solid #ddd; margin-right:35px;}

dl.act_text{ display:block; float:left; width:500px;}
dl.act_text dt{ display:block; font-size:14px; font-weight: bold; color:#8b603d; margin-bottom:20px; margin-top:10px;}
dl.act_text dd{ display:block; line-height:26px;}
dl.act_text dd a { color:#f79622; }
dl.act_text dd.att_btn{ margin-top:10px;}
.line{ height:26px; background:url(../images/act_pic6.gif) no-repeat; margin-left:12px; margin-bottom:35px;}
.more_wonderful{ float:right; line-height:40px; padding-right:20px;}

ul.act_review{ display:block; overflow:hidden; margin-left:40px; margin-right:10px; margin-bottom:30px;}
ul.act_review li{ display:block; float:left; width:198px; margin-right:27px;}
ul.act_review li span{ display:block;}
span.ar_img{  padding:3px; border:1px solid #ddd;}
span.ar_title{ line-height:40px; font-size:14px;}
/*span.ar_share{ height:18px; padding-left:25px;}*/

/*参与*/
.sc_title3{ background:url(../images/par_pic1.gif) no-repeat; height:50px; font-size:0px; text-align:-10000px; margin-bottom:25px;}
ul.par_list{ display:block; overflow:hidden; margin-left:40px; margin-right:1px; margin-bottom:30px;}
ul.par_list li{ display:block; float:left; width:200px; height:140px; margin-right:15px;  padding:4px; border:1px solid #ddd;}
.par_btn{ margin:0px 40px; margin-bottom:30px;  overflow:hidden;}
.par_btn span{ display:block; font-size:14px; font-weight:bold; line-height:40px; float:left;} 
.pb_left{ float:left; width:250px;}
.pb_right{ float:right; width:240px;}

/*分享*/
.sc_title4{ background:url(../images/share_pic1.gif) no-repeat; height:50px; font-size:0px; text-align:-10000px; margin-bottom:25px;}
 ul.reflections_list{ display:block; margin:0px 30px 40px 40px;}
 ul.reflections_list li{ display:block; border-bottom:1px dashed #ddd; margin-bottom:30px;}
 .sl_title{ background:url(../images/share_pic2.gif) no-repeat; padding-left:32px;  margin:0px 15px 15px 15px; overflow:hidden;}
 .sl_title span{ display:block; float:left; line-height:22px;}
 span.slt_1{ color:#8b603d; font-family:Arial; margin-right:3px;}
 span.slt_2{ float:right; padding-right:10px;}
.sl_con{margin:0px 15px 20px 15px; overflow:hidden; }
.sl_con span{ display:block; float:left; line-height:22px;}
span.slc_1{ margin-right:20px;}
span.slc_2{ width:770px;}
.talk_con{ margin:0px 40px 40px 50px;  overflow:hidden;}
.tc_img{ float:left; width:170px; height:195px; padding:5px; border:1px solid #ddd; margin-right:30px;}
.tc_text{ float:left; width:650px;}
.tc_text span{ display:block; line-height:28px;}
span.tct_title{ font-size:15px; font-weight:bold; color:#8b603d; margin-bottom:5px; margin-top:10px;}
span.tct_title a{ font-size:15px; font-weight:bold; color:#8b603d; margin-bottom:5px; margin-top:10px;}
span.tct_date{ color:#888; margin-bottom:20px; }

/*分享列表*/
ul.share_list{ display:block; margin: 0px 40px 40px 40px;  }
ul.share_list li{ display:block; border-bottom:1px dashed #ddd; margin-bottom:30px; padding-bottom:30px; padding-left:15px; overflow:hidden;  }
.shl_left{ float:left; width:130px; height:120px; border:1px solid #ddd; padding:4px; margin-right:25px;}
.shl_right{ float:left; width:650px;}
.sr_title{ overflow:hidden; margin-bottom:15px; margin-top:5px;}
.sr_title span{ display:block; float:left; line-height:22px;}
span.srt_1{margin-right:20px;}
span.srt_1 a{font-size:14px; font-weight:bold;  color:#8b603d;}
.sr_con{ line-height:28px;}
.list_page{ width:280px; margin:0px auto; margin-bottom:20px; overflow:hidden;}
.list_page a{ display:block; float:left; line-height:20px; margin-right:20px;}
.list_page a.number{ width:20px; height:20px; text-align:center; line-height:20px; color:#8b603d; margin-right:10px; border:1px solid #8b603d;}
.list_page a:hover.number{   background:#f79622; color:#fff;}

/*分享文章内容*/
.scon_title{ margin:0px 30px 10px 35px; height:40px; background:url(../images/act_pic2.gif);  text-align:center; overflow:hidden;}
.scon_title span.sct_left{ line-height:40px; color:#8b603d; font-size:15px; margin-right:30px; font-weight:bold;} 
.scon_con{ margin:0px 40px 25px 60px;}
.scon_con p{ display:block; line-height:28px; margin-bottom:20px; text-indent:25px;}
p.scc_img{ text-align:center; margin-bottom:40px; margin-top:30px;}
p.line2{ border-bottom:1px dashed #ddd; margin-top:50px; height:1px; overflow:hidden;}
p.scc_btn{ text-align:center;}



